body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(197, 216, 221);
}

h1 {
    color: rgb(59, 103, 104);
    text-align: center;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 42px;
}

#canvas {
    border: 3px solid;
    margin-top: 10px; /* Add margin to create space between canvas and scores */
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(59, 96, 104);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
}

#score {
    font-size: 26px;
    display: flex;
    justify-content: center; /* Center the scores horizontally */
    align-items: center; /* Center the scores vertically */
    margin-top: 10px; /* Add margin to create space between scores and canvas */
}

#score p {
    margin: 0;
    margin-right: 10px; /* Add margin to create space between timer and points */
}
